<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <fieldset>
          <form action="/" method="post">
            <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
            <input type="submit" class="ghost-button" value="Get Weather">
          </form>
          <ul>
              <h3>City : <%= weather.name %></h3>
              <h3>Country : <%= weather.sys.country %></h3>
              <h3>Timezone : <%= weather.timezone %></h3>
              <h3>Temparature : <%= weather.main.temp %> F</h3>
              <h3>Pressure : <%= weather.main.pressure %></h3>
              <h3>Humidity : <%= weather.main.humidity %></h3>
              <h3>Wind Speed : <%= weather.wind.speed %></h3>
          </ul>
        </fieldset>
      </div>
</body>
</html>